
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
	    position: absolute;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;
overflow-x: hidden;
overflow-y: hidden;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	/*background-image: url(../img/Banquet-purple3.jpg);*/
	background: url(../Content/images/loginBg.jpg) no-repeat center center fixed #000;
	background-position: center 0%;
	background-size: 100% 100%;
	/*-webkit-filter: blur(5px);
	z-index: 0;*/
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

img
{
    position: absolute;
    width: 130px;
    top: calc(25% - 85px);
    left: calc(85% - 255px);
    z-index: 2;
}

.header{
	position: absolute;
	top: calc(35% - 35px);
	left: calc(50% - 280px);
	z-index: 2;
}

.header div{
	    float: left;
    color: #007cc2;
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.header div span{
    color: #AF67BF !important;
}

.login{
	position: absolute;
    top: calc(45% - 75px);
    left: calc(40% - 40px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.login_user{
	width: 250px;
	height: 30px;
	background: rgba(255, 255, 255, 0.98);
	border: 2px solid rgb(0, 124, 194);
	border-radius: 2px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login_password{
	width: 250px;
	height: 30px;
	background: rgba(255, 255, 255, 0.98);
	border: 2px solid rgb(0, 124, 194);
	border-radius: 2px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login_button{
	width: 100%;
	height: 35px;
	background: #007cc2;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: gray;
}

::-moz-input-placeholder{
   color: gray;
}

.form-control {
    display: block;
    width: 93%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #007cc2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}